.admin-lessons-container {
    padding: 20px;
}

.lesson-form {
    margin-bottom: 20px;
}

.lesson-form input,
.lesson-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}

.lesson-form button {
    padding: 8px 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lesson-form button:hover {
    background-color: #4338ca;
}

.lesson-list ul {
    list-style: none;
    padding: 0;
}

.lesson-list li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.lesson-list button {
    margin-right: 10px;
}

.lesson-list .adminexercises {
    margin-top: 10px;
    border-radius: 4px;
    background-color: #4338ca;
}

.btn-primary {
    border-radius: 4px;
}

.btn-danger {
    border-radius: 4px;
    margin-top: 10px;
}