.carousel-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
}

.carousel-overlay {
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.carousel-overlay h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.carousel-overlay p {
    font-size: 2rem;
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-btn {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dot.active {
    background: white;
}

.slide-left {
    transform: translateX(-100%);
}

.slide-right {
    transform: translateX(100%);
}

.feature-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    gap: 8px;
    padding-left: 50px;
}

.feature-item {
    font-size: 2rem;
    color: #fff;
    text-align: left;
}


@media (max-width: 768px) {
    .carousel-slide {
        height: 500px;
        background-size: cover;
    }

    .carousel-overlay h2 {
        font-size: 2rem;
    }

    .carousel-overlay p {
        font-size: 1.5rem;
    }
}

@media (min-width: 769px) {
    .carousel-slide {
        height: 500px;
        background-size: cover;
    }
}